@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../../fonts/cerebrisans-light.html");
    src: local("Cerebri-sans Light"), url("../../fonts/cerebrisans-light-2.html") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../../fonts/cerebrisans-regular.html");
    src: local("Cerebri-sans Regular"), url("../../fonts/cerebrisans-regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../../fonts/cerebrisans-medium.html");
    src: local("Cerebri-sans Medium"), url("../../fonts/cerebrisans-medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../../fonts/cerebrisans-semibold.html");
    src: local("Cerebri-sans Semibold"), url("../../fonts/cerebrisans-semibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../../fonts/cerebrisans-bold.html");
    src: local("Cerebri-sans Bold"), url("../../fonts/cerebrisans-bold.woff") format("woff");
    font-weight: 700;
}


body {
  font-family: "Cerebri Sans,sans-serif";
  color: #505458;
  font-size: 14px;
  line-height: 22px;
  overflow-x:hidden;
}

.section{
  padding: 80px 0;
}  

.container-fluid{
  width: 85%;
}

.home-section{
  background-image: url(../images/home-bg.html);
  padding:180px 0;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.home-bg {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    position: relative;
    padding: 180px 0;
}

.bg-overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.bg-overlay-home {
    background-size: auto;
    -webkit-animation: bg-animation 7s ease-in-out infinite;
    animation: bg-animation 7s ease-in-out infinite;
}

.curv-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

.curv-img svg {
    display: block;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

@keyframes bg-animation {
    0% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

.img-logo{
  height: 38px;
}

.demo-logo{
  height: 50px;
  margin-bottom: 10px;
}

.home-img-box {
  padding: 20px 0 30px 0; 
  text-align: center;
}

.home-img-box a {
  border: 15px solid #f2f2f2;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.home-img-box img {
  width: 100%;
  height: auto;
  box-shadow: 0 -2px 40px 1px rgba(56, 48, 48, 0.16);
  position: relative;
  top: 0;
}

.home-img-box h5 {
  margin-top: 20px;
  font-size: 20px;
}

.footer {
  padding: 30px 0px;
  background-color: #f8f9fa;
}

.border {
  height: 4px;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto 30px;
  background-color: #01bf86;
}

.title {
  margin-bottom: 15px;
  font-size: 22px;
}

.copyright{
  font-size:18px;
}

.btn {
    padding: 12px 26px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-custom {
    background-color: #ff546c;
    border: 2px solid #ff546c;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #e6475e;
    border-color: #e6475e;
    color: #f3f3f3;
}